.about-container{
    width: 80vw;
    height: 80vh;
    background: linear-gradient(220deg, rgba(10,10,10,1) 0%, rgba(0,0,0,1) 100%);
    border-radius: 20px;
    z-index: 100;
    display: flex;
    justify-content: center;
    border: 0.5px solid white;
}
.about-head{
    flex: 1;
    font-size: 2rem;
}
.about-head img{
    flex: 1;
    display: flex;
    justify-content: right;
    justify-content: flex-end;
}